<div style="position: relative; top: 75px; z-index: 1" class="ui fluid centered small circular image">
  <img src="/images/eric.jpeg">
</div>

<div class="ui text container segment">
  <h1><span id="header" class="half-background">Hi!</span></h1>
  <h1><span id="lowerHeader" class="half-background">Hi!</span></h1>
  <p>My name is Eric Chapdelaine. I am currently a second year at Northeastern University studying Computer Science with a minor in Psychology.</p>

  <p>I enjoy solving problems with computer science and tackling problems with unique solutions.</p>

  <p>Aside from academics, I enjoy tutoring other students and working on the perfect note-taking system. For the first iteration of the system, check out my article <a href="/articles/how-i-take-notes/">here</a>. I believe that academic learning should be intuitive and not stressful. As such, I've worked on organizing all of my class notes for other students to use and I have plans to expand into videos to explain difficult topics. </p>

  <p>My interests don't just stop with note-taking, however. For instance, I am currently working with Professor Karapetian on a project which is the intersection of mechanical engineering/physics and computation. The project is to notice the state of computation in the world today by implementing the method of estimating stress intensity factors proposed by Karapetian in 1998 in his article <a href="https://link.springer.com/article/10.1023%2FA%3A1007541916027">"On Calculation of SIFs For Circular and Moderately Non-Circular Cracks"</a>.</p>

  <p>If you are interested in what I'm working on or just want to reach out, please contact me at <a href="mailto:chapdelaine.e@northeastern.edu">chapdelaine.e@northeastern.edu</a>.</p>
</div>

<style>
#lowerHeader {
    display: none;
}
@media (max-width: 500px) {
    #header {
        display: none;
    }
    #lowerHeader {
        display: block;
    }
}
<style>
