<div style="position: relative; top: 75px; z-index: 1" class="ui fluid centered small circular image">
  <img src="/images/eric.jpeg">
</div>

<div class="ui text container segment">
  <h1><span id="header" class="half-background">Welcome!</span></h1>
  <h1><span id="lowerHeader" class="half-background">Welcome!</span></h1>
  <p>Hi!</p> 
  <p>My name is Eric Chapdelaine. I am currently a freshman at Northeastern University studying Computer Science with a minor in Psychology.</p>

  <p>I am interested in Operating systems (Linux, macOS), command line (Bash, Zsh), text editors and typesetting (LaTeX, Vim).</p>

  <p>Feel free to contact me at <a href="mailto:chapdelaine.e@northeastern.edu">chapdelaine.e@northeastern.edu</a>.</p>
</div>

<style>
#lowerHeader {
    display: none;
}
@media (max-width: 500px) {
    #header {
        display: none;
    }
    #lowerHeader {
        display: block;
    }
}
<style>
