<div class="card">
  <div class="content">
    <span class="header">{{ include.page.title }}</span>
    <div class="meta">
        <span class="date">Status: {{ include.page.status }}</span>
        <span class="date">Professor: {{ include.page.professor }}</span>
    </div>
  </div>

  <div class="extra content">
    <div class="ui mini labels">
      {% for label in include.page.labels %}
        <div class="ui basic label">{{ label }}</div>
      {% endfor %}
    </div>
  </div>

  <a class="ui bottom attached button" href="{{ site.baseurl}}{{ include.page.url }}">See Notes</a>
</div>
