<div style="margin-top: 10px; " class="ui stackable grid container">

  <div class="sixteen wide column no-bottom">
    <h2 class="ui center aligned header no-bottom">{{ site.data.bio.basics.name }}</h2>
  </div>

  <div class="eight wide left aligned column">
    {% include bio-network-links.html %}
  </div>

  <div class="eight wide right aligned column">
    {% include bio-address.html %}
  </div>
</div>

<div style="margin-bottom: 20px" class="ui stackable grid container">
  {% include bio-interests.html %}
  {% include bio-skills.html %}
  {% include bio-education.html %}
  {% include bio-work.html %}
  {% include bio-volunteer.html %}
  {% include bio-publications.html %}
  {% include bio-awards.html %}
  {% include bio-references.html %}
</div>
