---
layout: resume
---

<div class="ui text container segment">

<div style="margin-top: 10px;" class="ui stackable grid container">
    <div class="sixteen wide column no-bottom">
        <h2 class="ui center aligned header no-bottom">Eric Chapdelaine</h2>
    </div>
</div>

<!-- Contact -->
<div class="eight left aligned column">
  <p><a href="https://www.ericchapdelaine.com/"> <i class="small home icon "></i>www.ericchapdelaine.com/</a></p>
  <p><a href="mailto:chapdelaine.e@northeastern.edu"> <i class="small mail outline icon "></i>chapdelaine.e@northeastern.edu</a></p>
  <p><a href="http://github.com/eric-chapdelaine"> <i class="small github icon "></i>eric-chapdelaine</a></p>
  <p><a href="https://www.linkedin.com/in/eric-chapdelaine-46888011b/"> <i class="small linkedin icon "></i>Eric Chapdelaine</a></p>
  <p><a href="https://www.instagram.com/eric.chapdelaine/"> <i class="small instagram icon "></i>eric.chapdelaine</a></p>
</div>
<br />

<!-- Interests -->
<div class="row">
    <div class"two wide column">
        <h3 class="ui left aligned header no-bottom"><span class="half-background">Interests</span></h3>
    </div>

    <div class="fourteen wide column no-bottom">
    <p class="ui no-bottom">
    {% for entry in site.data.resume.interests %}
        {{ entry.name }}
        {% if entry.keywords and entry.keywords.size > 0 %}({% for keyword in entry.keywords %}{{ keyword }}{% if forloop.last != true %}, {% endif %}{% endfor %}){% endif %}{% if forloop.last != true %}, {% endif %}
        {% endfor %}
    </p>
    </div>
</div>
<br />

<!-- Skills -->
<div class="row">
    <div class="two wide column">
        <h3 class="ui left aligned header no-bottom"><span class="half-background">Skills</span></h3>
    </div>

    <div class="fourteen wide column no-bottom">
        <p class="ui no-bottom">
            {% for entry in site.data.resume.skills %}
            <p class="ui no-bottom">
                <b>{{ entry.name }}:</b>
                {% for keyword in entry.keywords %}
                {{ keyword }}{% if forloop.last != true %}, {% endif %}
                {% endfor %}
            </p>
            {% endfor %}
        </p>
    </div>
</div>

<!-- Education -->
<div class="row">
<div class="two wide column">
  <h3 class="ui left aligned header no-bottom"><span class="half-background">Education</span></h3>
</div>

<div class="fourteen wide column no-bottom">
  {% for entry in site.data.resume.education %}

  <div class="ui grid">
    <div class="twelve wide column no-bottom">
      <p class="ui no-bottom"><b>{{ entry.institution }}</b></p>
      <p class="ui no-bottom">{{ entry.studyType }}, {{ entry.area }}</p>
      {% if entry.courses %}
      <ul style="margin: 0px;">
        {% for course in entry.courses %}
        <li>{{ course }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
    <div class="four wide right aligned column no-bottom">
      <p class="ui no-bottom"><b>
        {% if entry.startDate %}
        {{ entry.startDate | slice: 0,4 }}
        {% endif %}
        {% if entry.startDate and entry.startDate != '' and entry.endDate and entry.endDate != '' %}
        -
        {% endif %}
        {% if entry.endDate %}
          {% if entry.endDate != "Present" %}
            {{ entry.endDate | slice: 0,4 }}
          {% else %}
            {{ entry.endDate }}
          {% endif %}
        {% endif %}
      </b></p>
    </div>
  </div>

  {% endfor %}
</div>
</div>


<!-- Work -->
<div class="row">
  <div class="two wide column">
    <h3 class="ui left aligned header no-bottom"><span class="half-background">Work</span></h3>
  </div>

  <div class="fourteen wide column no-bottom">
    {% for entry in site.data.resume.work %}
    <div class="ui grid">
      <div class="twelve wide column no-bottom">
        <p class="ui no-bottom"><b>{{ entry.position }}, {{ entry.company }}</b></p>
        <p class="ui no-bottom"><a href="{{ entry.website }}">{{ entry.website | remove: "http://" | remove: "https://" }}</a></p>
        <p class="ui no-bottom">{{ entry.summary }}</p>
        {% if entry.highlights %}
        <ul style="margin: 0px;">
          {% for highlight in entry.highlights %}
          <li>{{ highlight }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      <div class="four wide right aligned column no-bottom">
        <p class="ui no-bottom"><b>
          {% if entry.startDate %}
          {{ entry.startDate | slice: 0,4 }}
          {% endif %}
          {% if entry.startDate and entry.endDate %}
          -
          {% endif %}
          {% if entry.endDate %}
            {% if entry.endDate != "Present" %}
              {{ entry.endDate | slice: 0,4 }}
            {% else %}
              {{ entry.endDate }}
            {% endif %}
          {% endif %}
        </b></p>
      </div>
    </div>

    {% endfor %}
  </div>
</div>

<!-- Volunteer -->
<div class="row">
  <div class="two wide column">
    <h3 class="ui left aligned header no-bottom"><span class="half-background">Volunteer</span></h3>
  </div>

  <div class="fourteen wide column no-bottom">
    {% for entry in site.data.resume.volunteer %}

    <div class="ui grid">
      <div class="twelve wide column no-bottom">
        <p class="ui no-bottom">
          <b>
              {{ entry.position }}{% if entry.organization and (entry.organization != "") %}, {{ entry.organization }}{% endif %}
          </b>
        </p>
        <p class="ui no-bottom"><a href="{{ entry.website }}">{{ entry.website | remove: "http://" | remove: "https://" }}</a></p>
        <p class="ui no-bottom">{{ entry.summary }}</p>
        {% if entry.highlights %}
        <ul style="margin: 0px;">
          {% for highlight in entry.highlights %}
          <li>{{ highlight }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      <div class="four wide right aligned column no-bottom">
        <p class="ui no-bottom"><b>
          {% if entry.startDate %}
          {{ entry.startDate | slice: 0,4 }}
          {% endif %}
          {% if entry.startDate and entry.startDate != '' and entry.endDate and entry.endDate != '' %}
          -
          {% endif %}
          {% if entry.endDate %}
            {% if entry.endDate != "Present" %}
              {{ entry.endDate | slice: 0,4 }}
            {% else %}
              {{ entry.endDate }}
            {% endif %}
          {% endif %}
        </b></p>
      </div>
    </div>

    {% endfor %}
  </div>
</div>

<!-- Awards -->
<div class="row">
  <div class="two wide column">
    <h3 class="ui left aligned header no-bottom"><span class="half-background">Awards</span></h3>
  </div>

  <div class="fourteen wide column no-bottom">
    {% for entry in site.data.resume.awards %}

    <div class="ui grid">
      <div class="sixteen wide column no-bottom">
        <p class="ui no-bottom">
          <b>{{ entry.title }}</b>, {{ entry.awarder }}{% if entry.date %}, {{ entry.date }}{% endif %}
        </p>
        <p class="ui">{{ entry.summary }}</p>
      </div>
    </div>

    {% endfor %}
  </div>
</div>

<!-- References -->
<div class="row">
  <div class="two wide column">
    <h3 class="ui left aligned header no-bottom"><span class="half-backgorund">References</span></h3>
  </div>

  <div class="fourteen wide column no-bottom">
    <p class="ui no-bottom">
    {% for entry in site.data.resume.references %}
      {{ entry.name }}
      {% if entry.reference and entry.reference.size > 0 %}
        <em>{{ entry.reference }}</em>
      {% endif %}
    {% endfor %}
    </p>
  </div>
</div>

</div>