---
layout: notes
---


<div id="toc"></div>

<div id="sidebar"></div>

<div style="margin-top: 20px; margin-bottom: 20px" class="ui text container">
  <h1 id="">{{ page.title }}</h1>
  <hr>
    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
        inlineMath: [ ['$','$'], ["\\(","\\)"] ],
        processEscapes: true
        }
    });
    </script>
    <script type="text/javascript" async="" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>

    <div id="doc">
        {{ content }}
    </div>
</div>

<style>
#toc {
  position: fixed;
  height: 90%;
  width: calc(50% - 350px);
  left: 0;
  bottom: 0;
  overflow-y: scroll;
  overflow: hidden;
}
#sidebar {
    position: fixed;
    height: 90%;
    width: calc(50% - 350px);
    right: 0;
    bottom: 0;
    overflow-y: scroll;
    overflow: hidden;
}
.active {
    background-color: blue;
}
</style>

<script>

    // Onetime:
    //Create sections which are defined as area between two h1's
    const regex = /<h1\s*\S.*?(?=\s*<h1|$)/gs;
    var doc = document.getElementById('doc').innerHTML;
    var headers = doc.match(regex);

    curID_regex = /(?<=<h[1-3][^>]*id=").*?(?=")/gs;
    // TODO: Maybe make this handle only one header type 
    any_header = /(?<=<h[123][^>]*>)\s*\S.*?(?=\s*<\/h[123]|$)/gs;
    var newHTML, curIDs, cur_headers;
    document.getElementById('doc').innerHTML = "";
    var sidebar = "<nav>";
    for (var i = 0; i < headers.length ; i++) {
        //Sidebar
        cur_headers = headers[i].match(any_header);
        curIDs = headers[i].match(curID_regex);
        sidebar += "<div id='" + curIDs[0] + "' hidden>";

        for (var j = 0; j < cur_headers.length ; j++){
            sidebar += "<a href='#" + curIDs[j] + "'>" + cur_headers[j] + "</a><br />";
        }
        sidebar += "</div>";

        // Body
        document.getElementById('doc').innerHTML += "<section id='" + curIDs[0] + "'>" +  headers[i] + "</section>";
    }
    document.getElementById("sidebar").innerHTML = sidebar;
    
    // Create Left Navagation:
    var ToC = "<nav>";

    var activeLine, el, title, link;

    $("h1").each(function() {

        el = $(this);

        title = el.text();
        link = "#" + el.attr("id");

        activeLine =
            "<a href='" + link + "'>" +
                title +
            "</a>" +
            "<br />";

        ToC += activeLine;

    });

    ToC += "</nav>";

    document.getElementById("toc").innerHTML = ToC;


    // Auto activation:

    //TODO: This is scalable!! So scale it up for h2 and h3
    window.addEventListener('DOMContentLoaded', () => {

        const observer = new IntersectionObserver(entries => {
            entries.forEach(entry => {
                const id = entry.target.getAttribute('id');
                if (entry.intersectionRatio > 0) {
                    document.querySelector(`div[id="toc"] nav a[href="#${id}"]`).classList.add('active');
                    document.querySelector(`div[id="sidebar"] nav div[id="${id}"]`).hidden = false;
                } else {
                    document.querySelector(`div[id="toc"] nav a[href="#${id}"]`).classList.remove('active');
                    document.querySelector(`div[id="sidebar"] nav div[id="${id}"]`).hidden = true;
                }
            });
        });

        // Track all sections and if observing, activate
        document.querySelectorAll('section[id]').forEach((section) => {
            observer.observe(section);
        });
        
    });

</script>
