---
layout: notes
---


<div id="toc">
</div>

<div style="margin-top: 20px; margin-bottom: 20px" class="ui text container">
  <h1 id="">{{ page.title }}</h1>
  <hr>
    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
        inlineMath: [ ['$','$'], ["\\(","\\)"] ],
        processEscapes: true
        }
    });
    </script>
    <script type="text/javascript" async="" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>

    <div id="doc">
        {{ content }}
    </div>
</div>

<style>
#toc {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color:#FFF;
  overflow-y:auto;
}
.active {
    background-color: blue;
}
</style>

<script>

    //Create sections which are defined as area between two h1's
    const regex = /<h1\s*\S.*?(?=\s*<h1|$)/gs;
    var doc = document.getElementById('doc').innerHTML;
    var headers = doc.match(regex);

    curID_regex = /(?<=").*?(?=")/gs;
    var newHTML, curID;
    document.getElementById('doc').innerHTML = "";
    for (var i = 0; i < headers.length ; i++) {
        //headers[i] = '<section id=' + i + '>' + headers[i] + '</section>'; 
        //document.getElementsByTagName('body')[0].innerHTML += headers[i];
        curID = headers[i].match(curID_regex)[0];
        document.getElementById('doc').innerHTML += "<section id='" + curID + "'>" +  headers[i] + "</section>";
        //document.getElementById('doc').innerHTML += "<section>" +  headers[i] + "</section>";
    }
    
    // Create Left Navagation:
    var ToC = "<nav>";

    var activeLine, el, title, link;

    $("h1").each(function() {

        el = $(this);

        title = el.text();
        link = "#" + el.attr("id");

        activeLine =
            "<a href='" + link + "'>" +
                title +
            "</a>" +
            "<br />";

        ToC += activeLine;

    });

    ToC += "</nav>";

    document.getElementById("toc").innerHTML = ToC;


    // Auto activation:

    //TODO: This is scalable!! So scale it up for h2 and h3
    window.addEventListener('DOMContentLoaded', () => {

        const observer = new IntersectionObserver(entries => {
            entries.forEach(entry => {
                const id = entry.target.getAttribute('id');
                if (entry.intersectionRatio > 0) {
                    document.querySelector(`div nav a[href="#${id}"]`).classList.add('active');
                } else {
                    document.querySelector(`div nav a[href="#${id}"]`).classList.remove('active');
                }
            });
        });

        // Track all sections and if observing, activate
        document.querySelectorAll('section[id]').forEach((section) => {
            observer.observe(section);
        });
        
    });

</script>
