---
layout: notes
---


<!-- <div id="toc" class="nonprintable"></div> -->

<div class="contents" class="nonprintable"></div>


<div class="segment ui text container document">
  <h1 id=""><span class="half-background">{{ page.title }}</span></h1>
  <hr>

        <button class="ui button" onClick="setDetails(false);">Close all sections</button>
        <button class="ui button" onClick="setDetails(true);">Open all sections</button>
    <div id="doc">
        {{ content }}
    </div>
</div>

<script>
    // Onetime:
    //Create sections which are defined as area between two h1's
    const regex = /<h1\s*\S.*?(?=\s*<h1|$)/gs;
    var doc = document.getElementById('doc').innerHTML;
    var headers = doc.match(regex);

    curID_regex = /(?<=<h[1-3][^>]*id=").*?(?=")/gs;
    // TODO: Maybe make this handle only one header type 
    any_header = /(?<=<h[123][^>]*>)\s*\S.*?(?=\s*<\/h[123]|$)/gs;
    var newHTML, curIDs, cur_headers;
    document.getElementById('doc').innerHTML = "";
    var contents = "<nav>In Open Sections:";
    for (var i = 0; i < headers.length ; i++) {
        //contents
        cur_headers = headers[i].match(any_header);
        curIDs = headers[i].match(curID_regex);
        contents += "<div data-id='" + curIDs[0] + "' hidden>";

        for (var j = 0; j < cur_headers.length ; j++){
            contents += "<a href='#" + curIDs[j] + "'>" + cur_headers[j] + "</a><br />";
        }
        contents += "</div>";

        // Body
        document.getElementById('doc').innerHTML += "<details id='" + curIDs[0] + "'><summary>" + headers[i].match(any_header)[0] + "</summary>" + headers[i] + "</details>";
    }
    document.getElementsByClassName("contents")[0].innerHTML = contents;
    
    // Auto showing of sub-sections
    function showSubsections(e) {
        const item = document.querySelector(`[data-id=${e.target.id}]`);
        item.toggleAttribute('hidden');
    }

    const sections = document.querySelectorAll('details');
    sections.forEach((section) => {
        section.addEventListener('toggle', showSubsections);
    });
</script>
